<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Form</title>
</head>

<body>
    <main class="contact">
        <h1>Contact form</h1>
        <div class="contact1">
            <h2>Book The Tour Of Your Dream</h2>
            <form action="#">

                <div class="_form">
                    <label for="name">Name</label>
                    <input id="name" name="name" type="text" value="" size="30" style="height:25px" />
                </div>

                <div class="_form">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="text" size="30" style="height:25px" />
                </div>

                <div class="_form">
                    <label for="message">Your message</label>
                    <input id="message" name="message" type="textarea" size="30" style="height:25px" />
                </div>
                <button class="btn" type="button">Contact</button>
            </form>
        </div>
        

    </main>
</body>

</html>