<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../core/style.css">
    <title>List</title>
</head>
<body>
    <main>
        <div>
            <h1>Liste</h1>
        
            <ul class="affaire">
                <li>Pantalons - Jeans</li>
                <li>Robes - Jupes</li>
                <li>Short</li>
                <li>Hauts</li>
                <li>Maillots de bains</li>
                <li>Chaussettes</li>
            </ul>
        </div>
    </main>
</body>
</html>