<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Sign in</title>
</head>

<body>
    <main class="fomulaires">
        <div class="sign">
            <div class="sign_up">
                <form action=""></form>
                <H1>Sign Up</H1>
                <p>Please create your account or log in</p>
                <hr>

                <div class="sign_in">
                    <div><label for="email"><b>Email</b></label>
                        <input type="text" placeholder="Enter Email" name="email" required>
                    </div>

                    <div> <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>
                    </div>

                    <div> <label>
                            <input type="checkbox" checked="checked" name="remember">
                            Remember me
                        </label>
                    </div>
                    <div class="submit">
                        <button type="button">Cancel</button>
                        <button type="submit">Sign Up</button>
                      </div>
                </div>
                </form>
            </div>
        </div>

    </main>

</body>

</html>