<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../style.css">
    <title>Table</title>
</head>

<body>
    <h2>Book your stay</h2>
    <div class="table_landing">
        <table>
            <thead>
                <tr>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>France</td>
                </tr>
                <tr>
                    <td>Cambodia</td>
                </tr>
                <tr>
                    <td>Brazil</td>
                </tr>
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Paris</td>
                </tr>
                <tr>
                    <td>Phnom Penh</td>
                </tr>
                <tr>
                    <td>Rio de Janeiro</td>
                </tr>
            </tbody>
        </table>
    </div>

    <H3>Additional destination</H3>
    <details>
        <summary>Details</summary>
        <table>
            <thead>
                <tr>
                    <th>Country</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Argentina</td>
                    <td>Buenos Aires</td>
                </tr>
                <tr>
                    <td>Spanish</td>
                    <td>Madrid</td>
                </tr>
                <tr>
                    <td>Mali</td>
                    <td>Bamako</td>
                </tr>
                <tr>
                    <td>Russia</td>
                    <td>Moscou</td>
                </tr>
            </tbody>
        </table>
    </details>

    <div id="title2">
        <h2>LISTES</h2>
    </div>
    


    <div class="liste">
        <div class="lister">
            <h3>List dont forget</h3>
            <ul class="affaire">
                <li>Pantalons - Jeans</li>
                <li>Robes - Jupes</li>
                <li>Short</li>
                <li>Hauts</li>
                <li>Maillots de bains</li>
                <li>Chaussettes</li>
            </ul>
        </div>

        <div class="lister">
            <h3>list prohibited</h3>
            <ol class="prohibited">
                <li>Flammable products</li>
                <li>Weapons</li>
                <li>sharp objects</li>
                <li>knives</li>
                <li>scissors</li>
            </ol>
        </div>

        <div class="lister">
            <h3>Liste imbrique</h3>
             <ul class="animal">
                <li>Animaux</li>
                <ul>
                    <li>Chats</li>
                    <li>Chien</li>
                    <li>Serpent</li>
                </ul>
                <li>Insectes</li>
                <ul>
                    <li>Scorpion</li>
                    <li>Larves</li>
                    <li>Fourmis</li>

                </ul>
             </ul>
        </div>
    </div>





</body>

</html>